/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ok-Snackbar {
  background: #5FBA7D;
  color: white;
}
.ok-Snackbar button {
  color: #fff;
}

.errSnackbar {
  background: #E23237;
  color: white;
}
.errSnackbar button {
  color: #fff;
}
